.header { margin-top: 15px; text-align: center;}

.round_color{

    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,.1);
    margin:0 5px;

}

.current_notes { border-left: 1px solid #ccc;}

.notes ul { 
	padding-left: 0; 
	list-style-type: none;
}


.note_block { 
	
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding-top: 10px;
}

.note_data { 
	height: 130px;
    overflow-y: scroll;
    
}

.actions {

	cursor: pointer;
    margin-top: 10px;
}

.actions a { color: #fff;}


